body {
  background: darkcyan;
}
header {
  text-align: center;
  border: 5px solid coral;
  color: white;
  margin-bottom: 40px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  padding: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: coral;
  font-size: 25px;
  font-weight: 100;
}
header nav ul li a:hover {
  color: white;
}
#all_goats {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}
img {
  width: 300px;
  height: 300px;
  border: 10px solid greenyellow;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}